@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+HU:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Special+Gothic&family=Staatliches&family=Young+Serif&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Blafhy-Glibs-Italic';
    src: url('/assets/fonts/Blafhy-Glibs-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
    font-style: italic;
    font-display: swap;
}


@theme inline {
    --font-blafhyglibs: 'Blafhy-Glibs-Italic';
    --font-raleway: 'Raleway';
}


@layer utilities {
  .font-style {
    @apply font-blafhyglibs tracking-[4px] lg:tracking-[7px];
  }

  .about-para{
    @apply font-raleway text-center lg:text-left text-[14px] font-[300] tracking-[1px] leading-[180%] lg:max-w-[90%] 
  }

  .footer-flex{
    @apply flex flex-col justify-center lg:justify-start items-center lg:items-start
  }
}

@keyframes bgBounce {
  0% { background-position: center 30%; }
  25% { background-position: center 60%; }
  50% { background-position: center 30%; }
  75% { background-position: center 60%; }
  100% { background-position: center 30%; }
}

.animate-bg-bounce {
  animation: bgBounce 5s ease-in-out;
}

.btn-1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: color 0.5s ease-in-out;
}

.btn-1:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--hover-bg-color, #ffcf40);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.btn-1:hover:before {
  transform: translateX(0);
}


::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
